html {
  background-color: #ff99bb;
}

* {
  font-family: "Pangolin", cursive;
  line-height: 25px;
  line-word: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Awal Navbar */

.logo {
  width: 300px;
}

ul {
  margin-top: 20px;
  display: flex;
  margin-left: 130px;
}

ul li {
  list-style-type: none;
  margin: 10px;
}

ul li a:hover {
  color: #ff80aa;
}

.sign {
  display: flex;
  margin-left: 250px;
}

.sign li a {
  color: white;
}

nav {
  display: flex;
  background-color: #ffb3cc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* Akhir Navbar */

/* Awal Aside */
aside {
  display: flex;
  margin: 100px;
  padding-top: 15px;
}

aside img {
  width: 500px;
  height: 350px;
  padding: 50px 100px;
  margin-right: 50px;
  border: 1px solid white;
}

aside .aside-text {
  padding: 90px 70px;

  line-height: 30px;
  letter-spacing: 2px;
}

button {
  background-color: #ff99bb;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px;
  width: 150px;
  margin-top: 20px;
}

button:hover {
  background-color: #ff80aa;
}

button a {
  color: white;
}

/* Akhir Aside */

/* Awal Main */
main {
  text-align: center;
}

.owner {
  display: flex;
  justify-content: center;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 3px dotted white;
}

.owner-1,
.owner-2 {
  margin: 50px;
}
/* Akhir Main */

/* Awal Footer */
footer {
  background-color: #ffb3cc;
  color: black;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}
/* Akhir Footer */
